.UpcomingMeets {
  margin-top: 30z px;
}

h3 { 
  font-size: 14px;
  font-weight: 500;
}

.show-more {
  color: #656BDF;
  font-size: 10px;
  line-height: 15px;
  font-weight: 400;
  margin-top: 40px;
}